<zero-layout>
  <zero-layout-region type="vertical">
    <zero-layout-region>
      <zero-layout-item title="(stream)" closable>
        <zero-grid-tabulator persist-column-state-key="grid-tabulator-simple-column-state">
          <grid-tabulator-client-side-datasource
            #datasource1
            [resourceName]="resourceName"
            [criteria]="criteria"
            [isSnapshot]="false"
            [maxRows]="maxRows"
            [maxView]="maxView"
            [reverse]="false"
            [restart-OnReconnection]="true"
          ></grid-tabulator-client-side-datasource>
        </zero-grid-tabulator>
      </zero-layout-item>
      <zero-layout-item title="(snapshot)" closable>
        <zero-grid-tabulator persist-column-state-key="grid-tabulator-simple-column-state">
          <grid-tabulator-client-side-datasource
            #datasource2
            [resourceName]="resourceName"
            [criteria]="criteria"
            isSnapshot="true"
            [maxRows]="maxRows"
            [maxView]="maxView"
            [reverse]="false"
            [restartOnReconnection]="true"
          ></grid-tabulator-client-side-datasource>
        </zero-grid-tabulator>
      </zero-layout-item>
    </zero-layout-region>
  </zero-layout-region>
</zero-layout>
