<zero-layout>
  <zero-layout-region type="vertical">
    <zero-layout-region>
      <zero-layout-item title="(stream)" closable>
        <zero-grid-tabulator #dataSource1test persist-column-state-key="grid-tabulator-simple-column-state">
          <grid-tabulator-client-side-datasource
            #dataSource1
            resource-name="ALL_COUNTERPARTYS"
            [attr.criteria]="criteria"
            [attr.is-snapshot]="false"
            [attr.max-rows]="maxRows"
            [attr.max-view]="maxView"
            [attr.reverse]="false"
            [attr.restart-on-reconnection]="true"
          ></grid-tabulator-client-side-datasource>
        </zero-grid-tabulator>
      </zero-layout-item>

      <zero-layout-item title="(snapshot)" closable>
        <zero-grid-tabulator persist-column-state-key="grid-tabulator-simple-column-state">
          <grid-tabulator-client-side-datasource
            #dataSource2
            resource-name="ALL_COUNTERPARTYS"
            [attr.criteria]="criteria"
            is-snapshot="true"
            [attr.max-rows]="maxRows"
            [attr.max-view]="maxView"
            [attr.reverse]="false"
            [attr.restart-on-reconnection]="true"
          ></grid-tabulator-client-side-datasource>
        </zero-grid-tabulator>
      </zero-layout-item>
    </zero-layout-region>
  </zero-layout-region>
</zero-layout>