<main class="main">
  <h1>{{ title }} (angular)</h1>
  wrapper component:
  <app-wrapper></app-wrapper>

  wrapper component in foundation-layout:
  <rapid-design-system style="width:100%;height:500px;display:flex;">
    <rapid-layout #gridLAyout>
      <rapid-layout-region type="horizontal">
        <rapid-layout-region type="vertical">
          <rapid-layout-item title="Layout in angular">
            <app-wrapper></app-wrapper>
          </rapid-layout-item>
        </rapid-layout-region>
      </rapid-layout-region>
    </rapid-layout>
  </rapid-design-system>
</main>
<router-outlet />
