<h1>{{ title }} (angular)</h1>
<nav>
  <ul class="main-menu">
      <li><rapid-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</rapid-button></li>
      <li><rapid-button routerLink="/js-api" routerLinkActive="active" ariaCurrentWhenActive="page">Adding items dynamically</rapid-button></li>
      <li><rapid-button routerLink="/js-api-angular-component" routerLinkActive="active" ariaCurrentWhenActive="page">Adding items dynamically (Angular component)</rapid-button></li>
      <li><rapid-button routerLink="/html-api" routerLinkActive="active" ariaCurrentWhenActive="page">Declarative HTML API</rapid-button></li>
  </ul>
</nav>

<router-outlet></router-outlet>
