<zero-layout #gridLayout>
  <zero-layout-region type="horizontal">
    <zero-layout-region>
      <zero-layout-item title="(ALL_POSITIONS)" registration="all-positions">
        <zero-grid-pro>
          <grid-pro-genesis-datasource resource-name="ALL_POSITIONS"></grid-pro-genesis-datasource>
        </zero-grid-pro>
      </zero-layout-item>
    </zero-layout-region>
    <zero-layout-region>
      <zero-layout-item title="(ALL_TRADES)" registration="all-trades">
        <zero-grid-pro>
          <grid-pro-genesis-datasource resource-name="ALL_TRADES"></grid-pro-genesis-datasource>
        </zero-grid-pro>
        <layout-grid-listener resource-name=""></layout-grid-listener>
      </zero-layout-item>
    </zero-layout-region>
  </zero-layout-region>
</zero-layout>
