zero-design-system-provider {
  height: 100%;
}

app-footer, .content {
  position: absolute;
  width: 100%;
}

.content {
  height: calc(100% - 60px);
}

app-footer {
  height: 60px;
  bottom: 0;
}
