.admin-page {
  height: 100%;
  width: 100%;
}

.admin-page zero-tabs {
  height: calc(100% - 8px);
  padding-top: 8px;
}

.admin-page zero-tab-panel {
  height: 100%;
  padding: 0 15px;
}

.admin-page nav {
  display: block;
  position: relative;
  height: 60px;
}

.admin-page zero-layout {
  contain: content;
  display: block;
  position: relative;
  height: calc(100% - 60px);
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 19;
}

.admin-page .entity-management-counterpartys {
  display: block;
  height: calc(100% - 40px);
}
