<zero-design-system-provider>
  <foundation-header>
    <div slot="menu-contents">
      <!-- Example markup -->
      <p>GROUP SLOT</p>
      <zero-tree-view>
        <zero-tree-item>
          <zero-icon name="location-arrow"></zero-icon>
          Slot Tree Item
        </zero-tree-item>
        <zero-tree-item>
          <zero-icon name="location-arrow"></zero-icon>
          Slot Tree Item
        </zero-tree-item>
      </zero-tree-view>
      <p>GROUP SLOT 2</p>
      <zero-tree-view>
        <zero-tree-item>
          <zero-icon name="location-arrow"></zero-icon>
          Slot Tree Item 2
        </zero-tree-item>
        <zero-tree-item>
          <zero-icon name="location-arrow"></zero-icon>
          Slot Tree Item 2
        </zero-tree-item>
      </zero-tree-view>
    </div>
  </foundation-header>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  <footer>footer</footer>
</zero-design-system-provider>