zero-design-system-provider {
  width: 100%;
  height: 100%;
  display: block;
}

foundation-header {
  width: 100%;
  visibility: visible;
}

foundation-header:not(:defined) {
  visibility: visible;
}
