<div style="display: grid; grid-template-columns: 1fr; grid-auto-rows: minmax(7vh, auto)">
    <div style="display: block; position: relative;">
      <rapid-button (click)="addItem('chart')" clickable>Add chart</rapid-button>
      <rapid-button (click)="addItem('1')">Add paraggraph 1</rapid-button>
      <rapid-button (click)="addItem('2')">Add paragraph 2</rapid-button>
    </div>
    <div style="display: block; position: relative; grid-row-start: 2; grid-row-end: 12;">
      <rapid-layout
        #foundationLayout
        [missingItemPlaceholder]="missingItemOverride"
        auto-save-key="layout-preview-contained-example"
      ></rapid-layout>
    </div>
  </div>
