<zero-grid-layout row-count="2" col-count="3" class="content-around spacing-2x">
  <zero-grid-layout-item col-number="1" row-number="1" width="1" height="1">
    <entity-management
      resourceName="ALL_POSITIONS"
      title="POSITIONS"
      [gridOptions]="gridOptions"
    ></entity-management>
  </zero-grid-layout-item>
  <zero-grid-layout-item col-number="2" row-number="1" width="2" height="1">
    <entity-management
      resourceName="ALL_TRADES"
      [createFormUiSchema]="addTradeFormSchema"
      title="TRADES"
      createEvent="EVENT_TRADE_INSERT"
      updateEvent="EVENT_TRADE_MODIFY"
      deleteEvent="EVENT_TRADE_DELETE"
    ></entity-management>
  </zero-grid-layout-item>
  <zero-grid-layout-item col-number="1" row-number="2" width="1" height="1">
    <zero-g2plot-chart type="donut" [config]="donutChartConfig">
      <chart-datasource
        resourceName="ALL_CHART_DATA"
        server-fields="SIDE INSTRUMENT_SIDE_ALLOCATION"
        charts-fields="groupBy value"
        isSnapshot="false"
        [criteria]="allocationCriteria"
      ></chart-datasource>
    </zero-g2plot-chart>
  </zero-grid-layout-item>
  <zero-grid-layout-item col-number="3" row-number="2" width="1" height="1">
    <zero-g2plot-chart type="line" [config]="linechartConfig">
      <chart-datasource
        resourceName="ALL_POSITIONS"
        server-fields="INSTRUMENT_NAME QUANTITY"
        isSnapshot="true"
      ></chart-datasource>
    </zero-g2plot-chart>
  </zero-grid-layout-item>
</zero-grid-layout>

