<zero-notification-listener>
  <div class="protected-page">
    <zero-toolbar>
      <zero-button (click)="insertTenTestRecords()">Add 10 Random Test Records</zero-button>
      <zero-button (click)="updateAllTestRecords()">Update All Test Records</zero-button>
      <zero-button (click)="deleteAllTestRecords()">Delete All Test Records</zero-button>
    </zero-toolbar>
    <zero-divider></zero-divider>
    <entity-management
      persist-column-state-key="grid-ctpy-features-lab"
      resourceName="ALL_COUNTERPARTYS"
      title="Counterparty Management"
      updateEvent="EVENT_COUNTERPARTY_MODIFY"
      deleteEvent="EVENT_COUNTERPARTY_DELETE"
      createEvent="EVENT_COUNTERPARTY_INSERT"
    ></entity-management>
    <zero-divider></zero-divider>
    <entity-management
      resourceName="ALL_COUNTERPARTYS"
      title="All Counterparties"
    ></entity-management>

    <zero-modal #environmentAlertModal>
      <h4 style="justify-content: center" slot="top">⚠️ Changes made here are final.</h4>
      <p>
        🖥️ You're connected to
        <b style="color: var(--accent-fill-rest)">
          {{ session.getSessionStorageItem('hostUrl') }}
        </b>
        , make sure it's a
        <b style="color: var(--accent-fill-rest)">development</b>
        server.
      </p>
    </zero-modal>
  </div>
</zero-notification-listener>
